version: "3.9"

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: supervisor_ws
    restart: unless-stopped
    ports:
      - "${WS_SERVER_PORT}:3002"
    environment:
      - NODE_ENV=development
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - CHOKIDAR_USEPOLLING=true   
      - WS_SERVER_PORT
    env_file:
      - .env
    volumes:
      - .:/usr/src/app               
      - /usr/src/app/node_modules    
      - ./crt:/usr/src/app/crt:ro
    command: npm run dev
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: redis_cache
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]

volumes:
  redis_data: